html, body {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.inline-block {
    display: inline-block;
    vertical-align: middle;
}
.logo {
    padding: 1%;
    filter: invert(100);
    margin-left: 40px;
}
.navigation {
    width: 100%;
    margin: 0px;
    padding: 1%;
    background-color: black;
    position: relative;
}
.navlist {
    float: right;
    margin-right: 35px;
    margin-top: 30px;
}
.nav {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
li {
    list-style-type: none;
    padding: 20px;
    color: white;
    display: inline;
}
.heroImg {
    height: 600px;
    padding: 25px;
    float: left;
}
.content {
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
p.content {
    float: right;
}
.footer {
    color: white;
    background-color: black;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 8pt;
    text-transform: uppercase;
    letter-spacing: 1pt;

}