html, body, footer {
    margin: 0;
    padding: 0;
}
bg-img {
    background-image: url("../images/joshua-earle-AZzfPBQA1Bk-unsplash.jpg");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}
.topnav {
    overflow: hidden;
    background-color: transparent;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: transparent;
    font-size: 18px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.inline-block {
    display: inline-block;
    vertical-align: middle;
}
.logo {
    padding: 1%;
    filter: invert(100);
    margin-left: 40px;
}
li {
    list-style-type: none;
    padding: 20px;
    color: white;
    display: inline;
}
.heroImg {
    height: 400px;
    padding: 50px;
    float: left;
    overflow: hidden;
}
.content {
    width: 500px;
    padding-top: 20px;
}
.content p {
    font-size: 15px;
    line-height: 21px;
    float: right;
    padding: 10px 10px 0px 50px;
}
.column {
    display: flex;
    flex-direction: row;
    width: 100%;
}
button {
    float: left;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
}
.footer {
    color: white;
    background-color: black;
    display: inline-block;
    width: 100%;
    height: 120px;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1pt;
    position: relative;
}