html, body, footer {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.inline-block {
    display: inline-block;
    vertical-align: middle;
}
.logo {
    padding: 1%;
    filter: invert(100);
    margin-left: 40px;
}
.navigation {
    width: 100%;
    margin: 0px;
    padding: 1%;
    background-color: black;
    position: relative;
}
.navlist {
    float: right;
    margin-right: 35px;
    margin-top: 30px;
}
.nav {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
li {
    list-style-type: none;
    padding: 20px;
    color: white;
    display: inline;
}
.heroImg {
    height: 400px;
    padding: 50px;
    float: left;
    overflow: hidden;
}
.content {
    width: 500px;
    padding-top: 20px;
}
.content p {
    font-size: 15px;
    line-height: 21px;
    float: right;
    padding: 10px 10px 0px 50px;
}
.column {
    display: flex;
    flex-direction: row;
    width: 100%;
}
button {
    float: left;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
}
.footer {
    color: white;
    background-color: black;
    display: inline-block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1pt;
    position: relative;
}